-- Run this in phpMyAdmin to add background progress tracking
-- Only needed if you already have the database and want to upgrade

ALTER TABLE automation_settings 
ADD COLUMN IF NOT EXISTS progress_percent INT DEFAULT 0,
ADD COLUMN IF NOT EXISTS progress_data TEXT,
ADD COLUMN IF NOT EXISTS last_progress_time TIMESTAMP NULL;

ALTER TABLE automation_settings
ADD COLUMN IF NOT EXISTS run_mode ENUM('local', 'github_runner') DEFAULT 'local';

ALTER TABLE automation_settings
ADD COLUMN IF NOT EXISTS manual_video_links LONGTEXT NULL;

ALTER TABLE automation_settings
MODIFY COLUMN video_source ENUM('ftp', 'bunny', 'manual_links', 'youtube_channel') DEFAULT 'ftp';

ALTER TABLE automation_settings
ADD COLUMN IF NOT EXISTS youtube_channel_url VARCHAR(500) NULL AFTER manual_video_links;

ALTER TABLE automation_settings
ADD COLUMN IF NOT EXISTS ai_taglines_enabled TINYINT(1) DEFAULT 0,
ADD COLUMN IF NOT EXISTS ai_tagline_prompt TEXT,
ADD COLUMN IF NOT EXISTS video_start_date DATE NULL,
ADD COLUMN IF NOT EXISTS video_end_date DATE NULL,
ADD COLUMN IF NOT EXISTS videos_per_run INT DEFAULT 5,
ADD COLUMN IF NOT EXISTS playback_speed DECIMAL(3,1) DEFAULT 1.0,
ADD COLUMN IF NOT EXISTS source_shorts_mode ENUM('single', 'duration_based', 'fixed_count') DEFAULT 'single',
ADD COLUMN IF NOT EXISTS source_shorts_max_count INT DEFAULT 1,
ADD COLUMN IF NOT EXISTS schedule_every_minutes INT DEFAULT 10,
ADD COLUMN IF NOT EXISTS process_id VARCHAR(20) NULL;

-- Update status enum to include new states (including queue)
ALTER TABLE automation_settings 
MODIFY COLUMN status ENUM('inactive', 'running', 'processing', 'completed', 'error', 'stopped', 'queued', 'paused') DEFAULT 'inactive';

-- For MySQL versions that don't support IF NOT EXISTS in ADD COLUMN:
-- Run each separately and ignore errors for columns that already exist:
-- ALTER TABLE automation_settings ADD COLUMN progress_percent INT DEFAULT 0;
-- ALTER TABLE automation_settings ADD COLUMN progress_data TEXT;
-- ALTER TABLE automation_settings ADD COLUMN last_progress_time TIMESTAMP NULL;

-- Taglines Pool for pre-generated AI taglines (research-based best practice)
-- Stores generated taglines for batch video processing to avoid duplicates
CREATE TABLE IF NOT EXISTS taglines_pool (
    id INT AUTO_INCREMENT PRIMARY KEY,
    automation_id INT NOT NULL,
    top_text VARCHAR(255) NOT NULL,
    bottom_text VARCHAR(255) NOT NULL,
    used TINYINT(1) DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    used_at TIMESTAMP NULL,
    INDEX idx_automation_id (automation_id),
    INDEX idx_used (used),
    INDEX idx_created (created_at)
);

-- AI Taglines Cache - stores all generated taglines for similarity checking
CREATE TABLE IF NOT EXISTS ai_taglines_history (
    id INT AUTO_INCREMENT PRIMARY KEY,
    automation_id INT,
    video_name VARCHAR(255),
    top_text VARCHAR(255) NOT NULL,
    bottom_text VARCHAR(255) NOT NULL,
    provider VARCHAR(50) DEFAULT 'gemini',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_automation (automation_id),
    INDEX idx_created (created_at)
);

-- Post for Me Integration (Unified Social Media API)
-- Add columns to automation_settings for Post for Me
ALTER TABLE automation_settings 
ADD COLUMN IF NOT EXISTS postforme_enabled TINYINT(1) DEFAULT 0,
ADD COLUMN IF NOT EXISTS postforme_account_ids TEXT;

-- Post for Me Connected Accounts
CREATE TABLE IF NOT EXISTS postforme_accounts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    account_id VARCHAR(100) NOT NULL UNIQUE,
    platform VARCHAR(50) NOT NULL,
    account_name VARCHAR(255),
    username VARCHAR(255),
    profile_image_url TEXT,
    is_active TINYINT(1) DEFAULT 1,
    last_synced_at TIMESTAMP NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Post for Me Posts Log
CREATE TABLE IF NOT EXISTS postforme_posts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    post_id VARCHAR(100) NOT NULL,
    automation_id INT,
    video_id VARCHAR(255),
    caption TEXT,
    account_ids TEXT,
    status VARCHAR(50) DEFAULT 'pending',
    results TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ============================================================
-- PRANKWISH UNIVERSAL TAGLINE SYSTEM (v2.0)
-- Added: March 2026
-- ============================================================

-- PrankWish columns in automation_settings (optional, won't break existing)
ALTER TABLE automation_settings 
ADD COLUMN IF NOT EXISTS prankwish_enabled TINYINT(1) DEFAULT 0 COMMENT 'Enable PrankWish branded taglines',
ADD COLUMN IF NOT EXISTS prankwish_occasion VARCHAR(50) DEFAULT NULL COMMENT 'Optional: birthday, mothers_day, etc.',
ADD COLUMN IF NOT EXISTS prankwish_cycle_override INT DEFAULT NULL COMMENT 'Force specific cycle (1-20)',
ADD COLUMN IF NOT EXISTS prankwish_use_universal TINYINT(1) DEFAULT 1 COMMENT 'Use universal taglines (1) or AI (0)';

-- Universal Taglines Table
CREATE TABLE IF NOT EXISTS prankwish_universal_taglines (
    id INT AUTO_INCREMENT PRIMARY KEY,
    cycle_number INT NOT NULL UNIQUE COMMENT '1-20 cycle rotation',
    top_tagline VARCHAR(255) NOT NULL COMMENT 'Universal top text for videos',
    bottom_tagline VARCHAR(255) DEFAULT 'prankwish.com' COMMENT 'Always prankwish.com',
    emoji VARCHAR(50) DEFAULT '' COMMENT 'Optional emoji for this tagline',
    is_active TINYINT(1) DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    INDEX idx_cycle (cycle_number),
    INDEX idx_active (is_active)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Usage Log Table
CREATE TABLE IF NOT EXISTS prankwish_usage_log (
    id INT AUTO_INCREMENT PRIMARY KEY,
    automation_id INT NOT NULL,
    job_id INT DEFAULT NULL,
    cycle_number INT NOT NULL COMMENT 'Which cycle (1-20) was used',
    top_tagline_used VARCHAR(255) NOT NULL,
    video_filename VARCHAR(255),
    occasion_type VARCHAR(50) DEFAULT NULL,
    platform_posted VARCHAR(50) DEFAULT NULL,
    used_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_automation (automation_id),
    INDEX idx_cycle (cycle_number),
    INDEX idx_used_at (used_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Social Content Table
CREATE TABLE IF NOT EXISTS prankwish_social_content (
    id INT AUTO_INCREMENT PRIMARY KEY,
    occasion_key VARCHAR(50) NOT NULL COMMENT 'birthday, mothers_day, etc.',
    occasion_name VARCHAR(100) NOT NULL COMMENT 'Human readable name',
    platform VARCHAR(50) NOT NULL COMMENT 'youtube, tiktok, instagram, facebook, x',
    title VARCHAR(200) NOT NULL COMMENT 'SEO optimized title',
    description TEXT NOT NULL COMMENT 'Post description',
    hashtags TEXT NOT NULL COMMENT 'Comma separated hashtags with #',
    call_to_action VARCHAR(255) DEFAULT 'Visit prankwish.com to create your own!',
    is_active TINYINT(1) DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    UNIQUE KEY unique_occasion_platform (occasion_key, platform),
    INDEX idx_occasion (occasion_key),
    INDEX idx_platform (platform),
    INDEX idx_active (is_active)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Settings Table
CREATE TABLE IF NOT EXISTS prankwish_settings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    setting_key VARCHAR(100) NOT NULL UNIQUE,
    setting_value TEXT,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Insert Default Settings
INSERT INTO prankwish_settings (setting_key, setting_value) VALUES
('system_enabled', '1'),
('current_cycle', '1'),
('total_cycles', '20'),
('bottom_tagline_default', 'prankwish.com'),
('enable_occasion_detection', '0'),
('enable_social_content', '1')
ON DUPLICATE KEY UPDATE setting_value = setting_value;

-- Insert 20 Universal Taglines
