-- ============================================================
-- PRANKWISH UNIVERSAL TAGLINE SYSTEM
-- Database Setup Script
-- All content in English for worldwide audience
-- ============================================================

-- --------------------------------------------------------
-- Table: prankwish_universal_taglines
-- Stores 20 universal top taglines that fit ANY occasion
-- Bottom tagline is always "prankwish.com"
-- --------------------------------------------------------
CREATE TABLE IF NOT EXISTS prankwish_universal_taglines (
    id INT AUTO_INCREMENT PRIMARY KEY,
    cycle_number INT NOT NULL UNIQUE COMMENT '1-20 cycle rotation',
    top_tagline VARCHAR(255) NOT NULL COMMENT 'Universal top text for videos',
    bottom_tagline VARCHAR(255) DEFAULT 'prankwish.com' COMMENT 'Always prankwish.com',
    emoji VARCHAR(50) DEFAULT '' COMMENT 'Optional emoji for this tagline',
    is_active TINYINT(1) DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    INDEX idx_cycle (cycle_number),
    INDEX idx_active (is_active)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------
-- Table: prankwish_usage_log
-- Tracks which tagline cycle was used for each video
-- --------------------------------------------------------
CREATE TABLE IF NOT EXISTS prankwish_usage_log (
    id INT AUTO_INCREMENT PRIMARY KEY,
    automation_id INT NOT NULL,
    job_id INT DEFAULT NULL,
    cycle_number INT NOT NULL COMMENT 'Which cycle (1-20) was used',
    top_tagline_used VARCHAR(255) NOT NULL,
    video_filename VARCHAR(255),
    occasion_type VARCHAR(50) DEFAULT NULL COMMENT 'Optional: birthday, mothers_day, etc.',
    platform_posted VARCHAR(50) DEFAULT NULL COMMENT 'youtube, tiktok, instagram, etc.',
    used_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    INDEX idx_automation (automation_id),
    INDEX idx_cycle (cycle_number),
    INDEX idx_used_at (used_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------
-- Table: prankwish_social_content
-- Optional occasion-specific content for social media posts
-- Video taglines are universal, but posts can be occasion-specific
-- --------------------------------------------------------
CREATE TABLE IF NOT EXISTS prankwish_social_content (
    id INT AUTO_INCREMENT PRIMARY KEY,
    occasion_key VARCHAR(50) NOT NULL COMMENT 'birthday, mothers_day, wedding, etc.',
    occasion_name VARCHAR(100) NOT NULL COMMENT 'Human readable name',
    platform VARCHAR(50) NOT NULL COMMENT 'youtube, tiktok, instagram, facebook, x',
    
    -- Content fields
    title VARCHAR(200) NOT NULL COMMENT 'SEO optimized title',
    description TEXT NOT NULL COMMENT 'Post description',
    hashtags TEXT NOT NULL COMMENT 'Comma separated hashtags with #',
    call_to_action VARCHAR(255) DEFAULT 'Visit prankwish.com to create your own!',
    
    -- Metadata
    is_active TINYINT(1) DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    UNIQUE KEY unique_occasion_platform (occasion_key, platform),
    INDEX idx_occasion (occasion_key),
    INDEX idx_platform (platform),
    INDEX idx_active (is_active)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- --------------------------------------------------------
-- Table: prankwish_settings
-- Global settings for PrankWish system
-- --------------------------------------------------------
CREATE TABLE IF NOT EXISTS prankwish_settings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    setting_key VARCHAR(100) NOT NULL UNIQUE,
    setting_value TEXT,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Insert default settings
INSERT INTO prankwish_settings (setting_key, setting_value) VALUES
('system_enabled', '1'),
('current_cycle', '1'),
('total_cycles', '20'),
('bottom_tagline_default', 'prankwish.com'),
('enable_occasion_detection', '0'),
('enable_social_content', '1')
ON DUPLICATE KEY UPDATE setting_value = setting_value;

-- --------------------------------------------------------
-- Insert 20 Universal Top Taglines (Cycle 1-20)
-- These fit ANY occasion - birthday, anniversary, any celebration
-- --------------------------------------------------------

-- Mother\'s Day Content

-- Add more occasions as needed...
-- Father\'s Day
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('fathers_day', 'Father\'s Day', 'youtube',
 'Father\'s Day Custom Video | Special Wish for Dad | PrankWish.com',
 'Surprise dad with a custom video message this Father\'s Day! Personalized videos that show your appreciation. Visit prankwish.com to create yours.',
 '#FathersDay #FathersDayGift #DadGift #CustomVideo #PrankWish #LoveDad #GiftForDad #BestDad #FathersDay2025'),

('fathers_day', 'Father\'s Day', 'tiktok',
 'Best dad deserves the best gift! ≡ƒæö',
 'Custom Father\'s Day video messages! Make dad smile with a personalized video. prankwish.com',
 '#FathersDay #DadGift #CustomVideo #PrankWish #BestDad #FathersDayGift #LoveDad #GiftIdeas')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- Wedding/Anniversary
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('wedding', 'Wedding/Anniversary', 'youtube',
 'Wedding Anniversary Custom Video | Special Couple Wish | PrankWish.com',
 'Celebrate love with a custom anniversary video! Perfect gift for weddings, anniversaries, or engagements. Visit prankwish.com for personalized video messages.',
 '#WeddingGift #AnniversaryGift #CustomVideo #PrankWish #Love #Anniversary #Wedding #Engagement #CoupleGoals #GiftForCouple'),

('wedding', 'Wedding/Anniversary', 'tiktok',
 'Celebrate love! ≡ƒÆìΓ¥ñ∩╕Å',
 'Custom wedding & anniversary videos! Perfect for celebrating love. Order at prankwish.com',
 '#WeddingGift #AnniversaryGift #CustomVideo #PrankWish #Love #Wedding #Anniversary #CoupleGoals')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- Christmas
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('christmas', 'Christmas', 'youtube',
 'Merry Christmas Custom Video | Holiday Greetings | PrankWish.com',
 'Send festive cheer with a custom Christmas video! Perfect holiday greeting for friends and family. Visit prankwish.com to create your personalized Christmas message.',
 '#MerryChristmas #ChristmasGift #HolidayVideo #CustomVideo #PrankWish #Christmas2025 #Xmas #HolidaySeason #ChristmasWish'),

('christmas', 'Christmas', 'tiktok',
 'Merry Christmas! ≡ƒÄä≡ƒÄà',
 'Custom Christmas video greetings! Spread holiday cheer with a personalized video. prankwish.com',
 '#MerryChristmas #ChristmasGift #CustomVideo #PrankWish #Xmas #Christmas2025 #HolidaySeason')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- New Year
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('new_year', 'New Year', 'youtube',
 'Happy New Year Custom Video | 2025 Greetings | PrankWish.com',
 'Start the year with a bang! Send custom New Year video wishes to your loved ones. Visit prankwish.com for personalized 2025 greetings.',
 '#HappyNewYear #NewYear2025 #NewYearGift #CustomVideo #PrankWish #NewYearWish #2025Celebration'),

('new_year', 'New Year', 'tiktok',
 'Happy New Year 2025! ≡ƒÄå',
 'Custom New Year video wishes! Start 2025 with a personalized message. prankwish.com',
 '#HappyNewYear #NewYear2025 #CustomVideo #PrankWish #NewYearCelebration')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- Valentine\'s Day
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('valentines', 'Valentine\'s Day', 'youtube',
 'Valentine\'s Day Custom Video | Love Message | PrankWish.com',
 'Express your love with a custom Valentine\'s video! Perfect romantic gift for your special someone. Visit prankwish.com to create a personalized love message.',
 '#ValentinesDay #ValentineGift #LoveMessage #CustomVideo #PrankWish #Valentines2025 #Love #RomanticGift #GiftForHer #GiftForHim'),

('valentines', 'Valentine\'s Day', 'tiktok',
 'For your special someone! ≡ƒÆò',
 'Custom Valentine\'s Day video messages! Show your love with a personalized video. prankwish.com',
 '#ValentinesDay #ValentineGift #Love #CustomVideo #PrankWish #Valentines2025 #RomanticGift')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- Generic/Fallback (when occasion not detected)
INSERT INTO prankwish_social_content (occasion_key, occasion_name, platform, title, description, hashtags) VALUES
('generic', 'General', 'youtube',
 'Custom Video Message | Personalized Wish | PrankWish.com',
 'Create custom video messages for any occasion! Birthdays, anniversaries, holidays, or just because. Our team makes personalized videos with your photos and script. Visit prankwish.com to order yours today!',
 '#CustomVideo #PersonalizedGift #PrankWish #VideoMessage #GiftIdeas #SurpriseGift #CustomGift #UniqueGift'),

('generic', 'General', 'tiktok',
 'Custom videos for any occasion! ≡ƒÄ¼Γ£¿',
 'Birthdays, celebrations, or just because! Custom video messages delivered to your inbox. prankwish.com',
 '#CustomVideo #PrankWish #GiftIdeas #SurpriseGift #Personalized #VideoMessage')
ON DUPLICATE KEY UPDATE 
    title = VALUES(title),
    description = VALUES(description),
    hashtags = VALUES(hashtags);

-- --------------------------------------------------------
-- Migration: Add PrankWish columns to automation_settings
-- These are OPTIONAL and don\'t break existing automations
-- --------------------------------------------------------
ALTER TABLE automation_settings 
ADD COLUMN IF NOT EXISTS prankwish_enabled TINYINT(1) DEFAULT 0 COMMENT 'Enable PrankWish branded taglines',
ADD COLUMN IF NOT EXISTS prankwish_occasion VARCHAR(50) DEFAULT NULL COMMENT 'Optional: birthday, mothers_day, etc.',
ADD COLUMN IF NOT EXISTS prankwish_cycle_override INT DEFAULT NULL COMMENT 'Force specific cycle (1-20)',
ADD COLUMN IF NOT EXISTS prankwish_use_universal TINYINT(1) DEFAULT 1 COMMENT 'Use universal taglines (1) or AI (0)';

-- --------------------------------------------------------
-- Success Message
-- --------------------------------------------------------
SELECT 'PrankWish Universal Tagline System setup completed successfully!' AS message;
